@import "../mixins";

header.table {
	width:100%; min-height:30; background:#333; color:#fff;
	padding: 8px; box-sizing: border-box;
	
	.td {
		vertical-align: middle;
	}
	.btn {
		cursor: pointer;
		padding:6px;
		@include border-radius(4px);
		&:hover {
			background: #000;
		}
	}
	.title {
		font-weight:900;
		width:100%;
		padding: 0 8px;
	}
	
	.other-menu-items {
		
		.mdl-menu__item {
			i {
				vertical-align: middle;
			}
			span {
				vertical-align: middle;
			}
		}
	}
}
