.container {
	position: relative;
	background: #efefef;
	width: 100%;
	max-width: 500px;
	margin:0px auto;
	
	h2 {
		font-size: 13px;
		color: #333;
		font-weight: 900;
		padding: 10px;
		margin: 0;
		line-height: 1em;
	}
	
	.content-area {
		padding: 30px 10px 10px 10px;
		
		position: fixed;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		
		background: {
			image: url("./background-default.jpg");
			repeat: no-repeat;
			size: cover;
		}
	}
}
