@import "mixins";

body, html {
	padding:0px; margin:0px;
	position: relative;
	height: 100%;
}
body {
	background: #666;
	-webkit-text-size-adjust: 100%;
}
.pad5-side { padding:0px 5px; }
.table { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }
.radius2 { @include border-radius(2px); }
.radius3 { @include border-radius(3px); }
.radius4 { @include border-radius(4px); }
.blur { @include blur(10); }
.shadow { @include box_shadow_basic(); }

.mdl-data-table {
	td, th {
		vertical-align: middle;
		line-height: normal;
		padding: 10px !important;
		white-space: normal;
		text-align: left;
	}
}

.nowrap { white-space: nowrap; }

// -----------------------------------------------------------------------------
// see: http://google.github.io/material-design-icons/
// -----------------------------------------------------------------------------

// colors
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
