.members-area {
	.comment {
		font-size: 13px;
	}
}
.members {
	.name {
		line-height: 1.5;
		.fullname {
			font-size: 10px;
		}
	}
	
	.img {
		.user_img {
			
			width: 40px;
			height:40px;
		}
		text-align: center;
		i {
			font-size: 35px;
		}
	}
}
