@import "../common/mixins";
.my-profile {
	background: #fff;
	.cover {
		background-size: cover;
		background-position: center;
		
		height: 180px;
		position: relative;
		
		@include border-top-left-radius(2px);
		@include border-top-right-radius(2px);
		
		.user_img {
			
			position: absolute;
			bottom: 15px;
			left: 15px;
			width: 120px;
			height:120px;
			i {
				font-size: 120px;
			}
		}
		.under-shadow{
			height: 100%;
			padding: 10px;
			box-sizing: border-box;
			@include under-shadow-gradation();
		}
		.nickname {
			font-size: 30px;
			position: absolute;
			bottom: 10px;
			left: 130px;
			color: #fff;
		}
	}
}
