.demo-card-wide.mdl-card {
	width: 100%;
	box-sizing: border-box !important;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
