@import "../common/mixins";

.my-profile-edit-form {
	
	position: fixed;
	z-index: 100;
	
	width: 300px;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	top: 50px;
	
	@include border-radius(4px);
	@include box-shadow();
	
	background: #fff;
	padding: 10px;
	
	h2 {
		padding: 5px 0 0 0;
		margin: 0px;
		margin-bottom: 10px;
	}
	
	h3 {
		font-size:12px;
		line-height: normal;
		margin: 0px;
		@include color-orange();
	}
	
	input[type=text] {
		width: 100%;
		box-sizing: border-box;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
	}
	
	.current-img img,
	.current-img_background img {
		
	}
	input[type=file] {
		display: block;
		width: 150px;
		word-break: break-all;
	}
	.comment {
		color: #999;
		font-size: 10px;
	}
}
