.add-talk-form { margin-bottom:0px; }
.add-talk-form input[type=text] {
	width:250px;
	font-size: 16px;
	line-height: 1;
	vertical-align: middle;
}
.add-talk-form .title {
	font-size:15px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 10px;
}
