@import "../../common/mixins";

form.new-member {
	@include border-radius(4px);
	
	width: 300px;
	max-height: 330px;
	background: #fff;
	
	position: fixed;
	z-index: 101;
	
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	box-sizing: border-box;
	padding:1em;
	
	.title {
		margin-bottom: 10px;
		font-weight: 900;
	}
	input {
		display: block;
		
		width: 100%;
		min-height: 25px;
		line-height: 25px;
		font-size: 15px;
		padding: 5px;
		box-sizing: border-box;
		
		border: none;
		margin-bottom: 8px;
	}
	input:not([type=submit]) {
		
		border-bottom: 1px solid #ccc;
	}
	input[type=submit] {
		font-size:15px;
		font-weight: 900;
		margin-top: 15px;
		padding: 5px !important;
		cursor: pointer;
		color: #fff;
		background: #333;
	}
}
