.footer_navi {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 500px;
	
	background: #333;
	box-sizing: border-box;
	.mdl-grid div {
		width:20%;
	}
	a {
		color: #fff;
		text-decoration: none;
		font-size:8px;
		display: block;
		text-align: center;
		&:hover {
			color:#ccc;
		}
		i {
			font-size:25px;
		}
		span {
			display: block;
			padding-top: 3px;
			line-height: 1;
		}
	}
}
