.mdl-layout__container {
	position: relative;
	background: #efefef;
	max-width: 700px;
	margin:0px auto;
}
h2 { font-size:13px; color:#333; font-weight: 900; padding:10px; margin:0px; line-height:1em; }
