@import "../common/colors";

$color-error: $yosaku-orange;

.layout {
	background: #efefef;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	
	padding-top: 40px;
	
	min-height: 100%;
	
	.logo {
		
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 27px;
	}
	.entry-new-member {
		font-size:12px;
		padding: 1em 0;
	}
	.tokumei-login {
		margin-bottom:3em;
		.submit-area {
			margin-bottom: 1em;
		}
		.nickname-area {
			margin-bottom:5px;
		}
	}
	.login-form, .tokumei-login {
		text-align: center;
		.name {
			font-weight: 900;
			font-size: 15px;
			margin-bottom: 8px;
		}
		input[type=text],
		input[type=password],
		input[type=submit] {
			height: 36px;
			font-size: 15px;
			font-weight: 900;
			line-height: 36px;
			text-align: center;
			width: 250px;
			border: none;
		}
		input[type=text] {
			margin-bottom: 1px;
		}
		input[type=password] {
			margin-bottom: 5px;
		}
		input[type=submit] {
			color: #fff;
			background: #333;
		}
	}
	.error {
		color: $color-error;
		padding: 10px;
		font-size: 12px;
		font-weight: 900;
	}

}

.comment {
	font-size: 10px;
	color: #999;
	text-align: left;
	line-height: 1.2;
	max-width: 250px;
	margin:0 auto;
}
