# ini_set() で変更できない設定
php_value upload_max_filesize "20M"
php_value post_max_size "20M"

<IfModule mod_rewrite.c>
	
	RewriteEngine On
	
	RewriteRule ^$ index.php [QSA]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !favicon.ico$
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
